@import url(../../font/roboto.css);

label, h3, input, font, table, select, div, li, footer {
	font-family: Roboto;
}
		
.input {
	color: 			#000000;
	border:	 		1px solid #ced4da;
	cursor: 		pointer;
	outline: 		none;
	display:		block;
	padding: 		6px 10px;
	font-size: 		12px;
	background: 	#FFFFFF;
	box-sizing: 	border-box;
	border-radius: 	5px;
	transition:		border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input:focus {
	outline: 			0;
	border-color: 		#80bdff;
}

.select {
	color: 			#999999;
	border:	 		1px solid #ced4da;
	cursor: 		pointer;
	outline: 		none;
	display:		block;
	padding: 		6px 10px;
	font-size: 		12px;
	background: 	#FFFFFF;
	box-sizing: 	border-box;
	transition:		border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background: 	#FFFFFF url("../../../images/icon/down-arrow.svg") no-repeat right .75rem center;
	border-radius: 	5px;

	background-size:	8px 10px;
	-webkit-appearance: none;
    -moz-appearance: 	none;
    text-indent: 		1px;
    text-overflow: 		'';
}

.select-selected {
	color: 	#000000;
}

.txtarea {
	color: 			#000000;
	border:	 		1px solid #ced4da;
	height: 		35px;
	cursor: 		pointer;
	outline: 		none;
	display:		block;
	padding: 		6px 10px;
	font-size: 		12px;
	min-height: 	221px;
	background: 	#FFFFFF;
	box-sizing: 	border-box;
	border-radius: 	5px;
	transition:		border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.txtarea:focus {
	outline: 			0;
	border-color: 		#80bdff;
}

.error-container {
    margin-bottom: 0;
}

.label-error {
	color: 		#F12124;
    display: 	none;
    font-size: 	10px;
}

.alerts {
	font-size: 		14px;
	font-weight:	bold;
}






/*FOOTER CSS*/

footer {
	top: 				0px;
	width: 				100%;
	padding: 			20px;
	position: 			relative;
	text-align: 		center;
	background-color:	#f1f1f1;
}

footer p {
	color: 			#A9A9A9;
	font-size: 		12px;
	text-align: 	center;
	padding-top: 	10px;
}

.page-footer {
	color:				#737373;
	padding:			45px 0 20px;
	font-size:			15px;
	line-height:		24px;
	background-color:	#EFEFEF;
}

.page-footer hr {
	opacity:			0.5
	border-top-color:	#bbb;
}
.page-footer hr.small {
  	margin:	20px 0
}

.page-footer h6 {
	color:			#000000;
	font-size:		14px;
	margin-top:		5px;
	font-family: 	Roboto;
	letter-spacing:	2px;
	text-transform:	uppercase;
}

.page-footer a {
  	color:	#666666;
}

.page-footer a:hover {
	color:				#000000;
	text-decoration:	none;
}

.page-footer-links {
	list-style:		none;
	padding-left:	0;
}

.page-footer-links li {
  	display:	block
}

.page-footer-links a {
	color:			#666666;
	font-size:		12px;
	font-family: 	Roboto;
}

.page-footer-links a:active,.page-footer-links a:focus,.page-footer-links a:hover {
	color:				#000000;
	text-decoration:	none;
}

.page-footer-links.inline li {
 	display:	inline-block
}

.page-footer-text {
 	color:	#A9A9A9;
 	margin:	0;
}

@media (max-width:991px) {
	.page-footer [class^=col-]{
		margin-bottom:	30px
	}
}

@media (max-width:767px) {
	.page-footer {
		padding-bottom:	0
	}

	.page-footer .page-footer-text {
		text-align:	center
	}
}

.btn-chinese {
	color: #FFFFFF;
	background-color: #FF3333;
}

.btn-chinese:hover {
	color: 				#FFFFFF;
	border-color: 		#FF3333;
	background-color:	#cc0000;
}

.label-chinese {
	color: 				#FF3333;
}

.label-chinese:hover {
	color: 				#cc0000;
	cursor:				pointer;
	text-decoration: 	none;
}